<%= error_messages_for 'subpop' %>

<!--[form:subpop]-->
<p><label for="subpop_kind">Kind</label><br/>
<%= text_field 'subpop', 'kind'  %></p>

<p><label for="subpop_samplesize">Samplesize</label><br/>
<%= text_field 'subpop', 'samplesize'  %></p>

<p><label for="subpop_submitted_strand_code">Submitted strand code</label><br/>
<%= text_field 'subpop', 'submitted_strand_code'  %></p>

<p><label for="subpop_submitted_rs">Submitted rs</label><br/>
<%= text_field 'subpop', 'submitted_rs'  %></p>

<p><label for="subpop_allele_flag">Allele flag</label><br/>
<%= text_field 'subpop', 'allele_flag'  %></p>

<p><label for="subpop_ambiguity_status">Ambiguity status</label><br/>
<%= text_field 'subpop', 'ambiguity_status'  %></p>

<p><label for="subpop_sub_heterozygosity">Sub heterozygosity</label><br/>
<%= text_field 'subpop', 'sub_heterozygosity'  %></p>

<p><label for="subpop_est_heterozygosity">Est heterozygosity</label><br/>
<%= text_field 'subpop', 'est_heterozygosity'  %></p>

<p><label for="subpop_est_het_se_sq">Est het se sq</label><br/>
<%= text_field 'subpop', 'est_het_se_sq'  %></p>

<p><label for="subpop_last_updated_time">Last updated time</label><br/>
<%= datetime_select 'subpop', 'last_updated_time'  %></p>

<p><label for="subpop_observed">Observed</label><br/>
<%= text_field 'subpop', 'observed'  %></p>

<p><label for="subpop_sub_het_se_sq">Sub het se sq</label><br/>
<%= text_field 'subpop', 'sub_het_se_sq'  %></p>
<!--[eoform:subpop]-->

