<% for column in Freqsummarybysspop.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @freqsummarybysspop.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @freqsummarybysspop %> |
<%= link_to 'Back', :action => 'list' %>
