<%= error_messages_for 'snp' %>

<!--[form:snp]-->
<p><label for="snp_avg_heterozygosity">Avg heterozygosity</label><br/>
<%= text_field 'snp', 'avg_heterozygosity'  %></p>

<p><label for="snp_het_se">Het se</label><br/>
<%= text_field 'snp', 'het_se'  %></p>

<p><label for="snp_create_time">Create time</label><br/>
<%= datetime_select 'snp', 'create_time'  %></p>

<p><label for="snp_last_updated_time">Last updated time</label><br/>
<%= datetime_select 'snp', 'last_updated_time'  %></p>

<p><label for="snp_cpg_code">Cpg code</label><br/>
<%= text_field 'snp', 'cpg_code'  %></p>

<p><label for="snp_validation_status">Validation status</label><br/>
<%= text_field 'snp', 'validation_status'  %></p>

<p><label for="snp_cnt_subsnp">Cnt subsnp</label><br/>
<%= text_field 'snp', 'cnt_subsnp'  %></p>

<p><label for="snp_map_property">Map property</label><br/>
<%= text_field 'snp', 'map_property'  %></p>
<!--[eoform:snp]-->

