<% for column in Snp.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @snp.send(column.name) %>
</p>
<% end %>

<!--%= link_to 'Edit', :action => 'edit', :id => @snp %-->
<%= link_to 'Back', :action => 'list' %>
