<%= error_messages_for 'subsnp' %>

<!--[form:subsnp]-->
<p><label for="subsnp_known_snp_handle">Known snp handle</label><br/>
<%= text_field 'subsnp', 'known_snp_handle'  %></p>

<p><label for="subsnp_known_snp_loc_id_upp">Known snp loc id upp</label><br/>
<%= text_field 'subsnp', 'known_snp_loc_id_upp'  %></p>

<p><label for="subsnp_loc_snp_id_upp">Loc snp id upp</label><br/>
<%= text_field 'subsnp', 'loc_snp_id_upp'  %></p>

<p><label for="subsnp_synonym_names">Synonym names</label><br/>
<%= text_field 'subsnp', 'synonym_names'  %></p>

<p><label for="subsnp_loc_sts_id_upp">Loc sts id upp</label><br/>
<%= text_field 'subsnp', 'loc_sts_id_upp'  %></p>

<p><label for="subsnp_segregate">Segregate</label><br/>
<%= text_field 'subsnp', 'segregate'  %></p>

<p><label for="subsnp_indiv_homozygosity_detected">Indiv homozygosity detected</label><br/>
<%= text_field 'subsnp', 'indiv_homozygosity_detected'  %></p>

<p><label for="subsnp_pcr_confirmed_ind">Pcr confirmed ind</label><br/>
<%= text_field 'subsnp', 'pcr_confirmed_ind'  %></p>

<p><label for="subsnp_gene_name">Gene name</label><br/>
<%= text_field 'subsnp', 'gene_name'  %></p>

<p><label for="subsnp_sequence_len">Sequence len</label><br/>
<%= text_field 'subsnp', 'sequence_len'  %></p>

<p><label for="subsnp_samplesize">Samplesize</label><br/>
<%= text_field 'subsnp', 'samplesize'  %></p>

<p><label for="subsnp_expressed_sequence_ind">Expressed sequence ind</label><br/>
<%= text_field 'subsnp', 'expressed_sequence_ind'  %></p>

<p><label for="subsnp_somatic_ind">Somatic ind</label><br/>
<%= text_field 'subsnp', 'somatic_ind'  %></p>

<p><label for="subsnp_create_time">Create time</label><br/>
<%= datetime_select 'subsnp', 'create_time'  %></p>

<p><label for="subsnp_last_updated_time">Last updated time</label><br/>
<%= datetime_select 'subsnp', 'last_updated_time'  %></p>

<p><label for="subsnp_ancestral_allele">Ancestral allele</label><br/>
<%= text_field 'subsnp', 'ancestral_allele'  %></p>

<p><label for="subsnp_cpg_code">Cpg code</label><br/>
<%= text_field 'subsnp', 'cpg_code'  %></p>

<p><label for="subsnp_top_or_bot_strand">Top or bot strand</label><br/>
<%= text_field 'subsnp', 'top_or_bot_strand'  %></p>

<p><label for="subsnp_validation_status">Validation status</label><br/>
<%= text_field 'subsnp', 'validation_status'  %></p>
<!--[eoform:subsnp]-->

