<% for column in Subsnp.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @subsnp.send(column.name) %>
</p>
<% end %>

<!--%= link_to 'Edit', :action => 'edit', :id => @subsnp %-->
<%= link_to 'Back', :action => 'list' %>
