<%= error_messages_for 'subpopallele' %>

<!--[form:subpopallele]-->
<p><label for="subpopallele_allele">Allele</label><br/>
<%= text_field 'subpopallele', 'allele'  %></p>

<p><label for="subpopallele_other">Other</label><br/>
<%= text_field 'subpopallele', 'other'  %></p>

<p><label for="subpopallele_freq">Freq</label><br/>
<%= text_field 'subpopallele', 'freq'  %></p>

<p><label for="subpopallele_cnt_int">Cnt int</label><br/>
<%= text_field 'subpopallele', 'cnt_int'  %></p>

<p><label for="subpopallele_freq_min">Freq min</label><br/>
<%= text_field 'subpopallele', 'freq_min'  %></p>

<p><label for="subpopallele_freq_max">Freq max</label><br/>
<%= text_field 'subpopallele', 'freq_max'  %></p>

<p><label for="subpopallele_data_src">Data src</label><br/>
<%= text_field 'subpopallele', 'data_src'  %></p>

<p><label for="subpopallele_kind">Kind</label><br/>
<%= text_field 'subpopallele', 'kind'  %></p>

<p><label for="subpopallele_last_updated_time">Last updated time</label><br/>
<%= datetime_select 'subpopallele', 'last_updated_time'  %></p>

<p><label for="subpopallele_allele_flag">Allele flag</label><br/>
<%= text_field 'subpopallele', 'allele_flag'  %></p>

<p><label for="subpopallele_cnt">Cnt</label><br/>
<%= text_field 'subpopallele', 'cnt'  %></p>
<!--[eoform:subpopallele]-->

