<% for column in Subpopallele.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @subpopallele.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @subpopallele %> |
<%= link_to 'Back', :action => 'list' %>
