<% for column in Population.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @population.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @population %> |
<%= link_to 'Back', :action => 'list' %>
