<%= error_messages_for 'snpcontiglocusid' %>

<!--[form:snpcontiglocusid]-->
<p><label for="snpcontiglocusid_contig_acc">Contig acc</label><br/>
<%= text_field 'snpcontiglocusid', 'contig_acc'  %></p>

<p><label for="snpcontiglocusid_contig_ver">Contig ver</label><br/>
<%= text_field 'snpcontiglocusid', 'contig_ver'  %></p>

<p><label for="snpcontiglocusid_asn_from">Asn from</label><br/>
<%= text_field 'snpcontiglocusid', 'asn_from'  %></p>

<p><label for="snpcontiglocusid_asn_to">Asn to</label><br/>
<%= text_field 'snpcontiglocusid', 'asn_to'  %></p>

<p><label for="snpcontiglocusid_locus_symbol">Locus symbol</label><br/>
<%= text_field 'snpcontiglocusid', 'locus_symbol'  %></p>

<p><label for="snpcontiglocusid_mrna_acc">Mrna acc</label><br/>
<%= text_field 'snpcontiglocusid', 'mrna_acc'  %></p>

<p><label for="snpcontiglocusid_mrna_ver">Mrna ver</label><br/>
<%= text_field 'snpcontiglocusid', 'mrna_ver'  %></p>

<p><label for="snpcontiglocusid_protein_acc">Protein acc</label><br/>
<%= text_field 'snpcontiglocusid', 'protein_acc'  %></p>

<p><label for="snpcontiglocusid_protein_ver">Protein ver</label><br/>
<%= text_field 'snpcontiglocusid', 'protein_ver'  %></p>

<p><label for="snpcontiglocusid_fxn_class">Fxn class</label><br/>
<%= text_field 'snpcontiglocusid', 'fxn_class'  %></p>

<p><label for="snpcontiglocusid_reading_frame">Reading frame</label><br/>
<%= text_field 'snpcontiglocusid', 'reading_frame'  %></p>

<p><label for="snpcontiglocusid_allele">Allele</label><br/>
<%= text_field 'snpcontiglocusid', 'allele'  %></p>

<p><label for="snpcontiglocusid_residue">Residue</label><br/>
<%= text_field 'snpcontiglocusid', 'residue'  %></p>

<p><label for="snpcontiglocusid_aa_position">Aa position</label><br/>
<%= text_field 'snpcontiglocusid', 'aa_position'  %></p>
<!--[eoform:snpcontiglocusid]-->

